PRIVY_APP_ID=

PRIVY_APP_SECRET=

DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/triangle

PORT=3001

SOLANA_RPC_URL=https://api.devnet.solana.com

TRIANGLE_ESCROW_PROGRAM_ID=

SOLANA_AUTHORITY_PRIVATE_KEY=

